@{ ViewData["Title"] = "Home Page"; }

<style>
    .aboutheading {
        height: 0;
        padding-bottom: 0;
    }

    h1 {
        font-size: 40px;
        padding-bottom: 0;
    }

    .dimg {
        padding-top: 95px;
    }

    img {
        height: 5%;
    }

    .about {
        padding: 50px 0px;
    }

    .clbl {
        font-size: 25px;
        font-weight: 600;
        font-family: cursive;
    }

    .crinpt {
        border-radius: 15px;
        border: 1px solid #949494;
        padding: 3px 35px;
        margin-left: 65px;
        width: 45%;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Reado is an online book store for everyone</h2>
    <h4>"Reado 9 Estafido"</h4>
</div>
