
<!DOCTYPE html>
<html lang="en">
<head>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Reado</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="~/css/min/jq.min.css">

    @*<link rel="stylesheet" href="~/css/min/AllStyles.min.css">*@
    @*bootstrap css*@
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!--my css pg-->
    <link href="~/css/mystyle.css" rel="stylesheet" />

    <!-- style css -->
    <link href="~/css/style.css?version=1" rel="stylesheet" />

    @*Responsive*@
    <link rel="stylesheet" href="~/css/responsive.css">
    @*fevicon*@
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">

    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"><a asp-area="" asp-controller="Books" asp-action="Index"> <img src="~/images/logoreado.png" alt="#"></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        @if (User.Identity.IsAuthenticated)
                                        {

                                            if (User.IsInRole("OBSuser"))
                                            {
                                                <li>
                                                    <a asp-area="" asp-controller="Books" asp-action="Index">Home</a>
                                                </li>
                                                <li> <a asp-area="" asp-controller="UserBooks" asp-action="Index">my cart</a> </li>
                                                <li><a asp-area="" asp-controller="Books" asp-action="myBooks">my books</a></li>
                                                <li>

                                                </li>
                                            }


                                            @*<li class="mean-last"> <a href="#"><img src="~/images/search_icon.png" alt="#" /></a> </li>
            <li class="mean-last"> <a href="#"><img src="~/images/top-icon.png" alt="#" /></a> </li>*@

                                            @*<partial name="_LoginPartial" />*@ else
                                            {
                                                <li> <a asp-area="" asp-controller="Store" asp-action="Index">Manage Books</a> </li>
                                                <li> <a asp-area="Identity" asp-page="/Account/RegisterAdmin">Add new Admin</a> </li>

                                            }
                                        }

                                        <partial name="_LoginPartial" />

                                    </ul>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <!-- about -->
    <div class="about-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="abouttitle">
                        <h2>@ViewBag.Title</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            @*<div class="row">*@
            @*<div class="col-md-10 offset-md-1">*@
            <div class="aboutheading">
                @RenderSection("Search", required: false)
                @RenderSection("Sort", required: false)
            </div>
            @*</div>*@
            @*</div>*@
            <div class="row border">
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
                    <div class="about-box">
                        @RenderBody()
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 dimg">
                    <div class="about-box">
                        <figure><img src="~/images/about.png" alt="img" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*</div>*@
    <!-- end about -->
    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <div class="Follow">
                            <h3>Follow Us</h3>
                        </div>
                        <ul class="location_icon">
                            <li> <a href="#"><img src="~/icon/facebook.png"></a></li>
                            <li> <a href="#"><img src="~/icon/Twitter.png"></a></li>
                            <li> <a href="#"><img src="~/icon/linkedin.png"></a></li>
                            <li> <a href="#"><img src="~/icon/instagram.png"></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <div class="Follow">
                            <h3>Newsletter</h3>
                        </div>
                        <input class="Newsletter" placeholder="Enter your email" type="Enter your email">
                        <button class="Subscribe">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">

            <div class="container">
                <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
